@mixin desktop {
  @media screen and (max-width: 1400px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 770px) {
    @content;
  }
}

@mixin wrap {
  margin: 0 auto;
  width: var(--container-width);
}

@mixin header-icon {
  display: flex;
  border-radius: 50px;
  justify-content: center;
  align-items: center;

  &:hover {
    background: var(--bg-color2);
  }
}