.page__title {
  display: flex;
  gap: 20px;

  .page__title-emoji {
    font-size: 70px;
    height: 70px;

    img {
      width: auto;
      height: 100%;
    }
  }

  .page__title-text {
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      font-size: 36px;
      font-weight: bold;
    }

    p {
      font-size: 16px;
      font-weight: 300;
    }
  }
}

.card {
  .card__item {
    display: inline-block;
    margin-top: 30px;
    box-sizing: border-box;

    a {
      display: block;
      background: var(--base-background);
      border-radius: var(--border-radius);
      box-shadow: 0 4px 16px 0 rgba(19, 19, 54, 0.1);
      transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);

      &:hover {
        transform: translateY(-8px);
        box-shadow: 0 6px 16px 0 rgb(19 19 54 / 28%);
      }
    }

    .card__wrap {
      padding: 20px 25px;
    }

    .card__thumbnail {
      width: 100%;
      height: auto;
    }

    .card__tags {
      margin-bottom: 20px;
      display: flex;
      gap: 5px;

      span {
        padding: 8px 12px;
        background: var(--bg-color1);
        border-radius: 50px;
        font-size: 11px;
        color: var(--ft-color3);

        &::before {
          content: '#';
        }
      }
    }

    .card__title {
      margin-bottom: 10px;
      font-size: 19px;
      font-weight: bold;
      color: var(--base-font-color);
    }

    .card__description {
      font-size: 15px;
      line-height: 25px;
      color: var(--ft-color3);
    }

    .card__date {
      margin-top: 20px;
      display: inline-flex;
      align-items: center;
      font-size: 12px;
      color: var(--ft-color1);

      svg {
        margin-right: 4px;
      }
    }
  }
  &.card__type-list {
    margin: 0;
  }
  &.card__type-card {
    margin: 0 -15px;

    ul {
      font-size: 0;
      .card__item {
        padding: 0 15px;
        width: 33.333%;

        .card__wrap {
          padding: 20px 15px;
        }
      }
    }
  }
}
