/*== post list ==*/
.posts {
  position: relative;
  display: flex;
  justify-content: space-between;

  @include tablet {
    display: block;
  }

  .posts__tab {
    position: sticky;
    position: -webkit-sticky;
    top: 100px;
    height: 0;
    z-index: 7000;
    transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);

    @include tablet {
      position: sticky;
      width: 100%;
      height: 55px;
      top: 70px;
      margin-bottom: 30px;

      &::before {
        position: absolute;
        top:0;
        left: calc((100% - 100vw)/2);
        content: '';
        display: block;
        width: 100vw;
        height: 55px;
        background: var(--base-background);
        z-index: -1;
      }

      &.posts__tab--top {
        top: 0;
      }
    }

    ul {
      display: flex;
      gap: 20px;
      flex-direction: column;
      width: 100%;
      height: auto;
      background: var(--base-background);

      @include tablet {
        height: 55px;
        flex-direction: row;
        gap: 10px;
        flex-wrap: nowrap;
        align-items: center;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none; 

        &::-webkit-scrollbar {
          display: none;
        }
      }

      @include mobile {
        margin: 0 -6%;
        padding: 0 6%;
      }

      li {
        cursor: pointer;

        span {
          padding: 0 20px;
          display: inline-block;
          height: 35px;
          border: 1px solid var(--border-color);
          border-radius: 35px;
          font-size: var(--fz-15);
          line-height: 35px;
          color: var(--base-font-color);
        }

        &.posts__tab--active span {
          background: var(--bg-color3);
          border: 1px solid var(--border-color);
          color: var(--ft-color3);
        }
      }
    }
  }

  .posts__contents { 
    width: calc(100% - 310px);

    @include desktop {
      width: calc(100% - 200px);
    }

    @include tablet {
      width: 100%;
    }
  }

  .posts__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .posts__search {
    position: relative;
    width: 277px;
    border-bottom: 1px solid var(--border-color);

    @include mobile {
      width: 200px;
    }

    input {
      padding: 0 15px;
      width: 100%;
      height: 40px;
      border: none;
      background: none;
      font-size: var(--fz-14);
      color: var(--ft-color1);
      box-sizing: border-box;
      outline: none;

      &::placeholder {
        color: var(--ft-color2);
      }
    }

    svg {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: var(--fz-20);
      color: var(--ft-color2);
    }
  }
}


/*== post detail ==*/
.post {
  .post__title {
    font-size: var(--fz-36);
    font-weight: bold;
    color: var(--base-font-color);
  }
  .post__date {
    margin-top: 20px;
    @include date-icon(var(--fz-14), 14px);
  }

  .post__body {
    display: flex;
    margin: 30px 0;
    padding: 50px 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    gap: 80px;
  }

  .post__button {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

    @include mobile {
      gap: 10px;
      flex-direction: column;
    }

    .post__tags {
      display: flex;
      gap: 15px;
      justify-content: center;

      @include mobile {
        gap: 8px;
        justify-content: flex-start;
      }

      span {
        padding: 0 20px;
        background: var(--bg-color2);
        height: 35px;
        line-height: 35px;
        border-radius: 35px;
        font-size: var(--fz-14);
        color: var(--ft-color1);

        @include mobile {
          display: flex;
          justify-content: flex-end;
          max-width: 55px;
          height: 30px;
          line-height: 30px;
        }
      }
    }

    .post__btn {
      @include mobile {
        display: flex;
        justify-content: flex-end;
      }

      a {
        display: inline-block;
        padding: 0 20px;
        height: 35px;
        line-height: 35px;
        border-radius: 35px;
        background: var(--bg-color3);
        font-size: var(--fz-14);
        font-weight: bold;
        color: var(--ft-color3);

        @include mobile {
          height: 30px;
          line-height: 30px;
        }
      }
    }
  }

  .post__navigator {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    font-size: var(--fz-14);
    color: var(--ft-color1);

    li {
      display: flex;
      padding: 0 30px;
      height: 55px;
      line-height: 55px;
      border-top: 1px solid var(--border-color);
      align-items: center;

      &:first-child {
        border-top: none;
      }

      .navigator__title {
        width: 80px;
        font-weight: bold;
      }

      .navigator__link {
        display: block;
        width: calc(100% - 80px);
        white-space: nowrap;
        text-overflow: ellipsis;
        color: var(--ft-color1);
        overflow: hidden;
      }

      .navigator__link:hover {
        text-decoration: underline;
      }
    }
  }
}

.toc {
  position: relative;
  height: auto;
  width: 200px;
  min-width: 180px;

  @include desktop {
    width: 180px;
    min-width: 160px;
  }

  @include tablet {
    display: none;
  }


  ul {
    position: sticky;
    top: 100px;
  }

  .toc__list {
    margin: 10px 0;
    font-size: var(--fz-14);
    color: var(--base-font-color);
    cursor: pointer;

    &.toc__H1 {
      font-weight: bold;
    }
    &.toc__H2 {
      margin-left: 15px;
    }
    &.toc__H3 {
      margin-left: 30px;
    }

    &.toc__list--active {
      position: relative;
      font-weight: bold;

      &::before {
        position: absolute;
        top: -5px;
        left: -25px;
        content: '👉🏻';
      }
    }
  }
}

